absl-py
aiobotocore==2.12.1
aiohttp
aioitertools==0.11.0
aiosignal
alabaster==0.7.16
altair==5.2.0
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio
AnyQt==0.2.0
argon2-cffi
argon2-cffi-bindings
arrow==1.3.0
asttokens
astunparse==1.6.3
async-timeout==4.0.3
attrs
autopep8==2.0.4
Babel==2.14.0
backcall
backoff==2.2.1
backports.functools-lru-cache
backports.tarfile==1.2.0
baycomp==1.0.3
beautifulsoup4
blessed==1.20.0
blinker
bokeh==3.3.4
boto3==1.34.51
botocore==1.34.51
Bottleneck==1.4.0
Brotli
brotlipy
cachetools
catboost==1.2.5
cattrs==24.1.0
certifi
cffi
chardet==5.2.0
charset-normalizer
click
cloudpickle==3.0.0
cmake==3.28.3
colorama==0.4.6
comm
commonmark==0.9.1
contourpy==1.2.0
croniter==2.0.2
cycler==0.12.1
dateutils==0.6.12
debugpy
decorator
deepdiff==6.7.1
deepwalk==1.0.3
defusedxml
dglgo==0.0.2
dictdiffer==0.9.0
dill==0.3.8
dm-tree==0.1.8
docker==7.0.0
docstring-parser==0.15
docutils==0.20.1
dtaidistance==2.3.12
editor==1.6.6
entrypoints
et-xmlfile==1.1.0
exceptiongroup
executing
fastapi==0.110.0
fastdtw==0.3.4
fastjsonschema
fastrlock==0.8.2
filelock==3.13.1
flatbuffers==23.5.26
flit_core
fonttools==4.49.0
frozenlist
fsspec==2024.2.0
gast==0.5.4
gensim==4.3.3
gitdb==4.0.11
GitPython==3.1.42
google-auth
google-auth-oauthlib
google-pasta==0.2.0
graphviz==0.20.1
grpcio
gviz-api==1.10.0
h11==0.12.0
h5py==3.10.0
h5sparse==0.1.0
httpcore==0.13.7
httpx==0.19.0
hydra-core==1.3.2
idna
igraph==0.11.8
imagesize==1.4.1
importlib-metadata
importlib-resources
inquirer==3.2.4
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets==8.1.2
isort==5.13.2
itsdangerous==2.1.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.0.2
jedi
jeepney==0.8.0
Jinja2
jmespath==1.0.1
joblib==1.3.2
jsonargparse==4.27.5
jsonschema
jsonschema-specifications
jupyter-server
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab_widgets==3.0.10
keras==3.0.5
keyring==25.3.0
keyrings.alt==5.0.2
kiwisolver==1.4.5
libclang==16.0.6
lightning==2.3.3
lightning-api-access==0.0.5
lightning-cloud==0.5.64
lightning-fabric==2.2.1
lightning-utilities==0.10.1
linkify-it-py==2.0.3
lit==17.0.6
littleutils==0.2.2
llvmlite==0.42.0
Markdown
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.8.3
matplotlib-inline
mdit-py-plugins==0.4.0
mdurl==0.1.2
mistune
ml-dtypes==0.3.2
more-itertools==10.4.0
mplcursors==0.5.3
mpmath==1.3.0
multidict
multiprocess==0.70.16
namex==0.0.7
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx==3.2.1
neurokit2==0.2.7
notebook
notebook_shim
numba==0.59.0
numpy==1.26.4
numpydoc==1.6.0
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.9.6.50
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.19.3
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.1.105
oauthlib
ogb==1.3.6
omegaconf==2.3.0
openpyxl==3.1.5
openTSNE==1.0.2
opt-einsum==3.3.0
optuna
ordered-set==4.1.0
ordpy==1.1.3
outdated==0.2.2
packaging
pandas==2.2.1
pandocfilters
panel==1.3.8
param==2.0.2
parso
pathos==0.3.2
patsy==0.5.6
pexpect
pickleshare
pillow==10.2.0
pkgutil_resolve_name
platformdirs
pox==0.3.4
ppft==1.7.6.8
pretty-errors==1.2.25
prometheus-client
prompt-toolkit
protobuf==4.25.3
psutil
ptyprocess
pure-eval
pyarrow==15.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.11.1
pycparser
pydantic==2.6.3
pydantic_core==2.16.3
pydeck==0.8.0
Pygments
PyJWT
Pympler==1.0.1
PyMySQL==1.1.1
pyOpenSSL
pyparsing==3.1.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.14
PyQt5_sip==12.15.0
pyqtgraph==0.13.7
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.14
PySocks
python-dateutil
python-editor==1.0.4
python-igraph==0.11.8
python-louvain==0.16
python-multipart==0.0.9
pytorch-lightning==2.2.1
pytz==2024.1
pytz-deprecation-shim==0.1.0.post0
pyu2f
pyviz_comms==3.0.1
PyYAML==6.0.1
pyzmq
qasync==0.27.1
qtconsole==5.6.0
QtPy==2.4.1
rdkit-pypi==2022.9.5
readchar==4.0.5
redis==5.0.2
referencing
requests
requests-cache==1.2.1
requests-oauthlib
rfc3986==1.5.0
rich==13.7.1
rsa
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
runs==1.2.2
s3fs==2024.2.0
s3transfer==0.10.0
scikit-base==0.8.1
scikit-learn==1.4.1.post1
scikit-posthocs==0.9.0
scipy==1.12.0
seaborn==0.13.2
SecretStorage==3.3.3
Send2Trash
serverfiles==0.3.1
shap==0.44.1
six
sktime==0.30.1
slicer==0.0.7
smart-open==7.0.4
smmap==5.0.1
sniffio
snowballstemmer==2.2.0
soundfile==0.12.1
soupsieve
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
stack-data
starlette==0.36.3
starsessions==2.1.3
statsmodels==0.14.2
streamlit==1.31.1
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server
tensorboard_plugin_profile==2.15.1
tensorboardX==2.6.2.2
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
terminado
texttable==1.7.0
threadpoolctl==3.3.0
tinycss2
toml==0.10.2
toolz==0.12.1
torch-tb-profiler==0.4.3
torchdata==0.7.1
torchmetrics==1.4.0
tornado
tqdm==4.66.2
traitlets
triton==2.2.0
ts2vg==1.2.3
typer==0.9.0
types-python-dateutil==2.8.19.20240106
typeshed_client==2.5.1
typing_extensions
tzdata==2024.1
tzlocal==5.2
uc-micro-py==1.0.3
umap==0.1.1
url-normalize==1.4.3
urllib3==2.0.7
uvicorn==0.27.1
validators==0.22.0
watchdog==4.0.0
wcwidth
webencodings
websocket-client
websockets==12.0
Werkzeug
wfdb==4.1.2
widgetsnbextension==4.0.10
wrapt==1.16.0
xgboost==2.1.0
xlrd==2.0.1
XlsxWriter==3.2.0
xmod==1.8.1
xyzservices==2023.10.1
yarl
zipp
